@page
@using html_creator_documentation.Data;
@using html_creator_documentation.Models;
@using html_creator_documentation.Pages;
@model DocsModel


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="jQuery/jquery.js"></script>
    <script src="jQueryUI/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="jQueryUI/jquery-ui.min.css" />
    <link rel="stylesheet" href="style.css" />

    <title>HTML Creator Library - @Model.Title</title>
</head>
<body>
    <header class="default-padding flex jc-space-between ai-center">
        <div class="flex">
            <a href="/">
                <div class="logo flex ai-center clickable-element">
                    <img src="Res/Logo.svg" alt="Logo">
                    <div class="text">
                        HTML Creator
                    </div>
                </div>
            </a>

            <div class="navigation flex jc-space-between ai-center">
                <a href="/docs">
                    <div class="clickable-element">Документация</div>
                </a>
                <a href="https://t.me/+X1GHe9cpAQg2Nzdi" target="_blank">
                    <div class="clickable-element">Сообщество</div>
                </a>
                <a href="https://t.me/vitalySharp" target="_blank">
                    <div class="clickable-element">Связь с разработчиком</div>
                </a>
            </div>
        </div>

        <div class="links flex jc-space-between ai-center">
            <a href="/download">
                <div class="clickable-element">
                    <div>Скачать</div>
                    <img src="Res/Download.svg" alt="Download">
                </div>
            </a>
            <a href="https://github.com/Vitaly05/html-creator-library" target="_blank">
                <div class="clickable-element">
                    <div>GitHub</div>
                    <img src="Res/Open Link.svg" alt="Open Link">
                </div>
            </a>
        </div>
    </header>

    <main class="main-documentation">
        <div class="navigation flex column-direction jc-center ai-start">
            <a href="/docs?topic=@Topics.Start"><div class="@(Model.Title == Topics.Start ? "selected" : null)">@Topics.Start</div></a>
            <a href="/docs?topic=@Topics.Namespaces"><div class="@(Model.Title == Topics.Namespaces ? "selected" : null)">@Topics.Namespaces</div></a>
            <a href="/docs?topic=@Topics.StaticClasses"><div class="@(Model.Title == Topics.StaticClasses ? "selected" : null)">@Topics.StaticClasses</div></a>
            <a href="/docs?topic=@Topics.Examples"><div class="@(Model.Title == Topics.Examples ? "selected" : null)">@Topics.Examples</div></a>
        </div>

        <div class="article">
            <h1 class="article-title">@Model.Title</h1>

            @foreach (var element in Model.ArticleElements)
            {
                @await Html.PartialAsync("_ArticleElement", new ArticleElementModel {
                    CanEdit = Model.CanEdit,
                    ArticleElement = element
                })
            }

        </div>

        @if (Model.HasTitle)
        {
            <div class="sub-navigation flex jc-center">
                <div class="nav">
                    <div class="top flex ai-center">
                        <img src="Res/List.svg" alt="List">
                        <div class="title">В этой статье</div>
                    </div>
                    <div class="bottom flex column-direction">

                        @foreach (var element in Model.GetTitles())
                        {
                            <a href="#@element.Title"><div>@element.Title</div></a>
                        }
                    </div>
                </div>
            </div>
        }

        <div class="dialog" id="edit-dialog" title="Редактирование контента">
            <form>
                <label for="value">Значение</label>
                <textarea type="text" name="value"></textarea>
            </form>
        </div>
    </main>

    <footer class="flex jc-center ai-center">
        Copyright © 2023 Лозюк Виталий
    </footer>

    @if (Model.CanEdit)
    {
        <script src="Js/editDocs.js"></script>
    }
</body>
</html>